@keyframes scal {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.not-found-image img {
  padding-top: 10px;
  animation: scal 3s linear infinite;
}

.back-btn {
  border: 2px solid #f05456;
  font-weight: 500;
  padding: 8px 40px;
  border-radius: 25px;
  transition-duration: 0.5s;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.back-btn:hover {
  color: #f05456;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}