.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 300px;
}

.about-us-banner {
  background-image: url(../../images/about/about3.jpg);
}

.about-us-banner h1 {
  font-weight: 700;
  font-size: 3.5rem;
  /* opacity: 0.8; */
}

.about-us-content {
  background-image: url(../../images/about/Bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  line-height: 1.9;
}

li {
  list-style: none;
  line-height: 40px;
}