.footer {
  background-color: #edd0cb;
  padding-top: 30px;
}
.regular-btn {
  background-color: #f05456;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  padding: 8px 40px;
  border-radius: 25px;
}

.regular-btn:hover {
  color: #f05456;
  background-color: #fff;
  box-shadow: 0px 8px 30px 0px rgb(240 84 86 / 30%);
}

.our-address p {
  line-height: 2;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.nav-link {
  color: black;
  line-height: 1;
}

.nav-link:hover {
  color: #f05456;
}
